@font-face {
  font-family: "SF Pro Display Heavy";
  src: url("./SF-Pro-Display-Heavy.woff") format("woff");
  /* font-weight: 800; */
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "SF Pro Display Regular";
  src: url("./SFProDisplay-Regular.woff2") format("woff2"),
    url("./SFProDisplay-Regular.woff") format("woff");
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "SF Pro Display Medium";
  src: url("./SFProDisplay-Medium.woff2") format("woff2"),
    url("./SFProDisplay-Medium.woff") format("woff");
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "SF Pro Display Bold";
  src: url("./SFProDisplay-Bold.woff2") format("woff2"),
    url("./SFProDisplay-Bold.woff") format("woff");
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "SF Pro Display Semibold";
  src: url("./SFProDisplay-Semibold.woff2") format("woff2"),
    url("./SFProDisplay-Semibold.woff") format("woff");
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "SF Pro Display Light";
  src: url("./SFProDisplay-Light.woff2") format("woff2"),
    url("./SFProDisplay-Light.woff") format("woff");
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "SF Pro Display Black";
  src: url("./SFProDisplay-Black.woff2") format("woff2"),
    url("./SFProDisplay-Black.woff") format("woff");
  font-style: normal;
  font-display: block;
}
